<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h2>Sms</h2>
        <input type="text" name="number" id="number" placeholder="tel">
        <input type="text" name="msg" id="msg" placeholder="message">
        <input type="button"  id="button" onclick="send()" value="gönder" class="button-primary">
    </div>
    
</body>
<script src="main.js"></script>
</html>