<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/tableSigorta.css">
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap"
            rel="stylesheet" />
        <title>Tablo Sigorta</title>
    </head>
    <body>
        <div class="container">
            <div class="col">
                <div class="row" style="justify-content: center;
                    align-items:center;">
                    <h1>Sigorta Poliçe Tablosu</h1>
                </div><!--
                    row
                -->
                <div>
                    <table>
                        <thead>
                            <tr>
                                <th> Ana Yükleneci Firma </th>
                                <th> Poliçe Firması</th>
                                <th> Poliçe Fiyatı</th>
                                <th>İndirim</th>
                                <th>Kar</th>
                                <th>Ödenecek Fiyat</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th> a </th>
                                <td> a</td>
                                <td>b </td>
                                <td> c </td>
                                <td>b </td>
                                <td>1000 </td>
                                <th><button>Bilgileri Gönder</button></th>
                            </tr>
                            <tr>
                                <th> a </th>
                                <td> 70 </td>
                                <td> 65 </td>
                                <td> 80 </td>
                                <td> 65 </td>
                                <td> 800 </td>
                                <th><button>Bilgileri Gönder</button></th>
                            </tr>
                            <tr>
                                <th> a </th>
                                <td> 16 % </td>
                                <td> 22 % </td>
                                <td> 30 % </td>
                                <td> 22 % </td>
                                <td> 3000</td>
                                <th><button>Bilgileri Gönder</button></th>
                            </tr>
                            <tr>
                                <th> a</th>
                                <td> 20% </td>
                                <td> 15% </td>
                                <td> 10% </td>
                                <td> 15% </td>
                                <td> 1010 </td>
                                <th><button>Bilgileri Gönder</button></th>
                            </tr>
                            <tr>
                                <th> a </th>
                                <td> 1000₺ </td>
                                <td> 1000₺ </td>
                                <td> 1000₺ </td>
                                <td> 1000₺ </td>
                                <td> 1000₺ </td>
                                <th><button>Bilgileri Gönder</button></th>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div style="width:100%; justify-content: center; align-items:center;">
                             <!--
              button back page
            -->
            <a href="/danismanInfo">
                <span>
                    <button class="nextPage" id="backPage" type="button"
                       >Geri Dön</button>
                  </span>
            </a>
                </div>
            </div><!--
                col
            -->
        </div><!--
            container
        -->

    </body><!--
        body
    -->
</html><!--
   html
-->