<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/userData.css">
    <title>User Data</title>
  </head>
  <body>
    <div class="container">
      <div class="col">
        <div class="row" style="justify-content: center; align-items:center;">
           <!--
             h1
            -->
          <h1>Kullanıcı Bilgileri Doldurma Formu</h1>
        </div>
        <div class="row">
          <div>
            <!--
              input name
            -->
            <span>
              <input class="basic-slide" id="name" type="text" placeholder="Adı"
                /><label for="name">Adı</label>
            </span>
              <!--
              input surname
            -->
            <span>
              <input class="basic-slide" id="surname" type="text"
                placeholder="Soyadı" /><label for="surname">Soyadı</label>
            </span>
              <!--
              input phone
            -->
            <span>
              <input class="basic-slide" id="phone" type="text"
                placeholder="Telefon Numarası" /><label for="phone">Telefon No</label>
            </span>
             <!--
              input birthday
            -->
            <span>
              <input class="basic-slide" id="bornDate" type="text"
                placeholder="Doğum Tarihi" /><label for="bornDate">Doğum Tarihi</label>
            </span>
             <!--
              input start process
            -->
            <span>
              <input class="basic-slide" id="startUser" type="text"
                placeholder="İstenilen Başlangıç Tarihi" /><label
                for="startUser"> Başlangıç Tarihi</label>
            </span>
             <!--
              input finish process
            -->
            <span>
              <input class="basic-slide" id="finishUser" type="text"
                placeholder="İstenilen Bitiş Tarihi" /><label for="finishUser">
                Bitiş Tarihi</label>
            </span>
             <!--
              input select file
            -->
            <span>
              <input class="basic-slide" id="chosseFile" type="file"
                 style="padding-left:175px;"  accept="image/png, image/jpeg" /><label for="chosseFile">
                Passaport Resmi ekle</label>
            </span>
          </div>
          <div>
             <!--
              input city
            -->
            <span>
              <input class="basic-slide" id="city" type="text"
                placeholder="Şehir/Metropol" /><label for="city">Şehir</label>
            </span>
             <!--
              input town
            -->
            <span>
              <input class="basic-slide" id="town" type="text"
                placeholder="İlçe/Kasaba" /><label for="town">İlçe</label>
            </span>
             <!--
              input region
            -->
            <span>
              <input class="basic-slide" id="region" type="text"
                placeholder="Mahalle" /><label for="region">Mahalle</label>
            </span>
             <!--
              input street
            -->
            <span>
              <input class="basic-slide" id="street" type="text"
                placeholder="Sokak" /><label for="street">Sokak</label>
            </span>
             <!--
              input apart no
            -->
            <span>
              <input class="basic-slide" id="apartNo" type="text"
                placeholder="Apartman no" /><label for="apartNo">Apartman no</label>
            </span>
             <!--
              input house no
            -->
            <span>
              <input class="basic-slide" id="houseNo" type="text"
                placeholder="Ev no" /><label for="houseNo">Ev no</label>
            </span>
             <!--
              button nextpage
            -->
           <a href="/danismanInfo">
            <span>
              <button class="nextPage" id="nextPage" type="button"
                 >Sonraki</button>
            </span>
           </a>
                     <!--
              button back page
            -->
            <a href="/home">
              <span>
                  <button class="nextPage" id="backPage" type="button"
                     >Geri Dön</button>
                </span>
          </a>
          </div>  <!--
            row
          -->
        </div> <!--
          col
        -->
      </div> <!--
        container
      -->
    </body> <!--
      body 
    -->
  </html> <!--
    html
  -->